.addAdmin {
    .modal-body::-webkit-scrollbar {
        display: none;
    }
}

#viewModal .avatar-icon{
    width: 33.9%;//214px;
    //height: //214px;
    padding-top: 33.9%;//100%;
    background-image: url(../images/emir.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-primary{
    color: black;
    &:hover{
        color: $primary;
    }
}